In [9]:
import csv
import os
import pandas as pd

In [2]:
folder_path = './data/'

In [14]:
def store_images_path(folder):
    df = pd.DataFrame(columns=['Path','Identity','Facial Expression'])
    for file in os.listdir(folder):
        features = file.split('_')
        df = df.append({'Path':os.path.join(folder,file),'Identity':features[0],'Facial Expression':features[1][0]},ignore_index=True)
    return df

In [15]:
df = store_images_path(folder=folder_path)

In [16]:
df

                           Path  Identity Facial Expression
0      ./data/haziq_0 (31).jpeg     haziq                 0
1      ./data/haziq_0 (32).jpeg     haziq                 0
2      ./data/haziq_0 (33).jpeg     haziq                 0
3      ./data/haziq_0 (34).jpeg     haziq                 0
4      ./data/haziq_0 (35).jpeg     haziq                 0
..                          ...       ...               ...
56  ./data/sulaiman_1 (38).jpeg  sulaiman                 1
57  ./data/sulaiman_1 (39).jpeg  sulaiman                 1
58  ./data/sulaiman_1 (40).jpeg  sulaiman                 1
59  ./data/sulaiman_1 (41).jpeg  sulaiman                 1
60  ./data/sulaiman_1 (42).jpeg  sulaiman                 1

[61 rows x 3 columns]

In [23]:
df = df.sample(frac = 1)

In [22]:
df.to_csv('Data.csv',index=False)